
@{
    ViewData["Title"] = "Supervisão";
}

<div class="text-center">
    
                    
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eros nibh, viverra nec elementum sed, posuere nec orci. 
         Cras at convallis ex, eget feugiat erat. Nunc ut dolor sed leo suscipit feugiat. Vestibulum accumsan ac mi non cursus. 
         Aenean quis vehicula tortor. Curabitur venenatis libero at enim tincidunt egestas. Phasellus feugiat ultrices convallis. 
         Aenean eget purus vitae enim dictum elementum at vel magna. Suspendisse potenti. In leo massa, vestibulum vel ex quis, efficitur accumsan elit. 
         Curabitur in neque quis nisi bibendum bibendum. Mauris eleifend nulla a luctus vestibulum.
         Maecenas molestie bibendum velit id tristique. Donec ac orci ex. Pellentesque varius, nisl non finibus commodo, velit metus ornare nisi, eget tincidunt massa diam 
         sed mauris. Mauris commodo sapien id orci rutrum, a consectetur sapien eleifend. In at nisi a felis volutpat venenatis. Mauris scelerisque neque sit amet ante 
         eleifend fringilla. Donec ullamcorper augue ut ipsum tempor dictum.
       
         Quisque hendrerit tempor diam non ullamcorper. Maecenas mollis, purus ac gravida suscipit, quam odio accumsan lacus, vel volutpat elit nunc ac odio. 
         Nullam vel venenatis urna. Cras aliquam tellus nec arcu interdum, eget tincidunt lacus malesuada. Duis eget dignissim eros, vitae mollis risus. 
         Phasellus vitae nibh felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque tellus urna, 
         pretium laoreet ex vitae, pellentesque posuere nisl. Suspendisse potenti. Ut interdum rhoncus risus. Sed tincidunt nunc sed lobortis fringilla. 
         Donec cursus tellus commodo, eleifend ipsum quis, ultricies tortor.
         Donec ornare nec massa vel pellentesque. Etiam gravida massa eu elit sollicitudin ullamcorper ut non lacus. 
         Praesent ullamcorper tincidunt neque, et luctus orci luctus eu. Quisque ornare in eros a ultricies. Donec et facilisis tortor, et congue nisi. Nulla facilisi. 
         Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus pellentesque tristique faucibus.
         Morbi in ex id nisl commodo aliquam ut a felis. Cras fringilla diam eget imperdiet dictum. Cras a sem id arcu sodales tristique. Sed eget blandit nisi.
       
        
       </p>
</div>