@using System.Collections.Specialized
@{
    ViewData["Title"] = "Painel do Usuário";
}


@section Toolbar{
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Botão 01</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Botão 02</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        
        Botão 03
    </button>
}

<div class="text-center">
    <p>asd</p>
</div>